{% extends 'base.html.twig' %}

{% block title %}Official index{% endblock %}

{% block body %}
    <h1>Browse Elected Officials</h1>
    <p>
        This page uses the <code>api_grid</code> component, and the datatable's AJAX call using API Platform.
    </p>

    {% set columns =
        [
            {name: 'id'},
            {name: 'actions', condition: is_granted('ROLE_ADMIN')},
            {name: 'gender', sortable: true, browsable: true},
            {name: 'currentParty', sortable: true, browsable: true},
            {name: 'firstName', sortable: true},
            {name: 'lastName', sortable: true},
            {name: 'officialName', sortable: true},
            {name: 'birthday', sortable: true},
        ] %}

    <div class="dtsp-verticalContainer row">
        <div class="dtsp-verticalPanes col-3">
        </div>
        <div class="col-9">
            {{ block('gridTable') }}
        </div>
    </div>
{% endblock %}

{% block gridTable %}


    <twig:api_grid
            :class="class"
            :caller="_self"
            :columns="columns"
    >
        <twig:block name="officialName">
            <a href="{{ path('app_congress_show', {'id': row.id}) }}">
                {{ row.officialName }}
            </a>
        </twig:block>

        <twig:block name="birthday">
            {{ row.birthday|date('Y-m-d') }}
        </twig:block>

        <twig:block name="lastName">
            <i>{{ data }}</i>
        </twig:block>

        <twig:block name="gender">
            <b>{{ row.gender }}</b>
        </twig:block>

        <twig:block name="actions">
            <span class="fas fa-pencil"></span>
            <a href="{{ path('app_congress_edit', {'id': row.id}) }}">edit</a>
        </twig:block>

    </twig:api_grid>

{% endblock %}
