{% extends 'base.html.twig' %}

{% block title %}Official{% endblock %}

{% block body %}
    <h1>{{ official.officialName }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Wikidata ID</th>
                <td>
                    <a href="https://www.wikidata.org/wiki/{{ official.id }}" target="_blank">
                    {{ official.id }}
                    </a>
                </td>
            </tr>
            <tr>
                <th>FirstName</th>
                <td>{{ official.firstName }}</td>
            </tr>
            <tr>
                <th>LastName</th>
                <td>{{ official.lastName }}</td>
            </tr>
            <tr>
                <th>Birthday</th>
                <td>{{ official.birthday ? official.birthday|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Gender</th>
                <td>{{ official.gender }}</td>
            </tr>
        </tbody>
    </table>

    <h3>
        {{ official.imageCount }} Image(s)
    </h3>
    <ul>
    {% for imageCode in official.imageCodes %}
        <li>
            {% set flysystemPath = imageCode.code %}
            {% for filter in ['squared_thumbnail_medium','squared_thumbnail_small','squared_thumbnail_tiny'] %}
                {% set thumbUrl = flysystemPath | imagine_filter(filter)   %}
                <figure class="figure">
                    <a href="{{ thumbUrl }}" target="_blank">
                    <img src="{{ thumbUrl }}" class="figure-img img-fluid rounded" alt="{{ thumbUrl }}">
                    </a>
                    <figcaption class="figure-caption text-end">{{ filter }}
                        <b>
                            {{ flysystemPath }}

                        </b>
                    </figcaption>
                </figure>
{#                <br /><b>{{ thumbUrl }}</b>#}
{#                <br /><b>{{ imagePath }}</b>#}

            {% endfor %}
        </li>
    {% endfor %}
    </ul>

    {% set columns = [
        'type',
        'district',
        'party',
        {name: 'startDate', block: 'date'},
        {name: 'endDate', block: 'date'},
    ] %}

    <h3>{{ official.terms|length }} Term(s)</h3>
    <twig:grid
        :data="official.terms"
        :columns="columns"
        >
        <twig:block name="dump">
            {{ row|json_encode }}
{#            {{ row.keys|join(',') }}#}
        </twig:block>

        {# these could be combined, at least in api_grid #}
        <twig:block name="startDate">
            {{ row.startDate|date('Y-m-d') }}
        </twig:block>

        <twig:block name="endDate">
            {{ row.endDate|date('Y-m-d') }}
        </twig:block>


    </twig:grid>

{% endblock %}
