{# Generated automatically from JSONL profile + Meilisearch settings.
   Safe to edit; re-generating will overwrite.

   Meilisearch settings:
{
    "displayedAttributes": [
        "*"
    ],
    "searchableAttributes": [
        "*"
    ],
    "filterableAttributes": [
        "projectCode",
        "categorie",
        "fragmenten",
        "beginDat",
        "eindDat",
        "put",
        "vlak",
        "spoor",
        "niveau1",
        "niveau2",
        "niveau4",
        "website",
        "muntLandGeografisch",
        "muntAutoriteitPolitiek",
        "muntMuntsoort",
        "muntEenheidWaarde",
        "muntMuntplaatsProductieplaats",
        "muntLengteDiameterInMm",
        "trefwoorden",
        "metaalGrootstehoogteMm",
        "vlakMin",
        "vlakMax",
        "vak",
        "bouwmaterialenGrootstedikteMm",
        "bouwmaterialenOppervlakte",
        "aardewerkEveRand",
        "aardewerkHerkomst",
        "aardewerkOppBehandeling",
        "aardewerkDecoratietechniek",
        "aardewerkDecorgroepen",
        "aardewerkEveBodem",
        "glasDsType",
        "glasKleur",
        "glasHerkomst",
        "objectdeel",
        "metaalGrootstelengteMm",
        "metaalGrootstebreedteMm",
        "metaalGrootstedikteMm",
        "rookpijpenModel",
        "rookpijpenKwaliteit",
        "aardewerkMerk",
        "aardewerkObjectDiameterMm",
        "aardewerkObjectHoogteMm",
        "bouwmaterialenKleur",
        "bouwmaterialenAfbeelding",
        "aardewerkFragmHoogteMm",
        "rookpijpenSteelbehandeling",
        "rookpijpenProductiecentrum",
        "rookpijpenZijmerkLinks",
        "rookpijpenOppervlaktebehandelingKop",
        "rookpijpenKopopening",
        "rookpijpenRadering",
        "rookpijpenZijmerkRechts",
        "rookpijpenBijmerkRechts",
        "rookpijpenMerkOfHielmerk",
        "rookpijpenPijpenmaker",
        "rookpijpenBijmerkLinks",
        "faunaSoort",
        "faunaLengteMm",
        "faunaBreedteMm",
        "glasEveRand",
        "glasEveBodem",
        "glasObjectDiameterMm",
        "glasObjectHoogteMm",
        "kunststofGrootstelengteMm",
        "kunststofGrootstebreedteMm",
        "kunststofEigenaar",
        "kunststofEenheidWaarde",
        "metaalProductiecentrum",
        "metaalDeelmaterialen",
        "faunaElement",
        "kunststofDiameterMm",
        "plantSoort",
        "houtGrootstelengteMm",
        "houtGrootstebreedteMm",
        "houtGrootstedikteMm",
        "bouwmaterialenGrootstelengteMm",
        "bouwmaterialenGrootstebreedteMm",
        "houtDiameterMm",
        "plantGrootstelengteMm",
        "plantGrootstebreedteMm",
        "plantGrootstedikteMm",
        "metaalDiameterMm",
        "glasFragmHoogteMm",
        "natuursteenSubsoort",
        "natuursteenGrootstelengteMm",
        "natuursteenGrootstebreedteMm",
        "natuursteenGrootstedikteMm",
        "natuursteenProductiesporen",
        "leerDeelmaterialen",
        "leerLeersoort",
        "natuursteenDiameterMm",
        "houtGrootstehoogteMm"
    ],
    "sortableAttributes": [
        "aardewerkEveBodem",
        "aardewerkEveRand",
        "aardewerkObjectDiameterMm",
        "aardewerkObjectHoogteMm",
        "beginDat",
        "eindDat",
        "fragmenten",
        "metaalGrootstebreedteMm",
        "metaalGrootstehoogteMm",
        "metaalGrootstelengteMm",
        "muntEenheidWaarde",
        "spoor"
    ],
    "rankingRules": [
        "words",
        "typo",
        "proximity",
        "attribute",
        "sort",
        "exactness"
    ],
    "stopWords": [],
    "nonSeparatorTokens": [],
    "separatorTokens": [],
    "dictionary": [],
    "synonyms": {},
    "distinctAttribute": null,
    "proximityPrecision": "byWord",
    "typoTolerance": {
        "enabled": true,
        "minWordSizeForTypos": {
            "oneTypo": 5,
            "twoTypos": 9
        },
        "disableOnWords": [],
        "disableOnAttributes": [],
        "disableOnNumbers": false
    },
    "faceting": {
        "maxValuesPerFacet": 1000,
        "sortFacetValuesBy": {
            "*": "count"
        }
    },
    "pagination": {
        "maxTotalHits": 1000
    },
    "embedders": {},
    "searchCutoffMs": null,
    "localizedAttributes": null,
    "facetSearch": true,
    "prefixSearch": "indexingTime"
}
#}

{% set _config = {"primaryKey":"vondstnummer","titleField":"vondstnummer","descriptionField":"niveau2","imageField":"image","scalarFields":["fragmenten","beginDat","eindDat"],"tagFields":["rookpijpenZijmerkLinks","rookpijpenZijmerkRechts"],"filterableFields":["projectCode","categorie","fragmenten","beginDat","eindDat","put","vlak","spoor","niveau1","niveau2","niveau4","website","muntLandGeografisch","muntAutoriteitPolitiek","muntMuntsoort","muntEenheidWaarde","muntMuntplaatsProductieplaats","muntLengteDiameterInMm","trefwoorden","metaalGrootstehoogteMm","vlakMin","vlakMax","vak","bouwmaterialenGrootstedikteMm","bouwmaterialenOppervlakte","aardewerkEveRand","aardewerkHerkomst","aardewerkOppBehandeling","aardewerkDecoratietechniek","aardewerkDecorgroepen","aardewerkEveBodem","glasDsType","glasKleur","glasHerkomst","objectdeel","metaalGrootstelengteMm","metaalGrootstebreedteMm","metaalGrootstedikteMm","rookpijpenModel","rookpijpenKwaliteit","aardewerkMerk","aardewerkObjectDiameterMm","aardewerkObjectHoogteMm","bouwmaterialenKleur","bouwmaterialenAfbeelding","aardewerkFragmHoogteMm","rookpijpenSteelbehandeling","rookpijpenProductiecentrum","rookpijpenZijmerkLinks","rookpijpenOppervlaktebehandelingKop","rookpijpenKopopening","rookpijpenRadering","rookpijpenZijmerkRechts","rookpijpenBijmerkRechts","rookpijpenMerkOfHielmerk","rookpijpenPijpenmaker","rookpijpenBijmerkLinks","faunaSoort","faunaLengteMm","faunaBreedteMm","glasEveRand","glasEveBodem","glasObjectDiameterMm","glasObjectHoogteMm","kunststofGrootstelengteMm","kunststofGrootstebreedteMm","kunststofEigenaar","kunststofEenheidWaarde","metaalProductiecentrum","metaalDeelmaterialen","faunaElement","kunststofDiameterMm","plantSoort","houtGrootstelengteMm","houtGrootstebreedteMm","houtGrootstedikteMm","bouwmaterialenGrootstelengteMm","bouwmaterialenGrootstebreedteMm","houtDiameterMm","plantGrootstelengteMm","plantGrootstebreedteMm","plantGrootstedikteMm","metaalDiameterMm","glasFragmHoogteMm","natuursteenSubsoort","natuursteenGrootstelengteMm","natuursteenGrootstebreedteMm","natuursteenGrootstedikteMm","natuursteenProductiesporen","leerDeelmaterialen","leerLeersoort","natuursteenDiameterMm","houtGrootstehoogteMm"],"labels":{"vondstnummer":"Vondstnummer","projectCode":"Project Code","categorie":"Categorie","subcategorie":"Subcategorie","object":"Object","fragmenten":"Fragmenten","beginDat":"Begin Dat","eindDat":"Eind Dat","put":"Put","vlak":"Vlak","spoor":"Spoor","niveau1":"Niveau1","niveau2":"Niveau2","niveau3":"Niveau3","niveau4":"Niveau4","website":"Website","muntLandGeografisch":"Munt Land Geografisch","muntAutoriteitPolitiek":"Munt Autoriteit Politiek","muntMuntsoort":"Munt Muntsoort","muntEenheidWaarde":"Munt Eenheid Waarde","muntMuntplaatsProductieplaats":"Munt Muntplaats Productieplaats","muntLengteDiameterInMm":"Munt Lengte Diameter In Mm","image":"Image","citationUrl":"Citation Url","trefwoorden":"Trefwoorden","metaalGrootstehoogteMm":"Metaal Grootstehoogte Mm","vlakMin":"Vlak Min","vlakMax":"Vlak Max","gewicht":"Gewicht","vak":"Vak","bouwmaterialenGrootstedikteMm":"Bouwmaterialen Grootstedikte Mm","bouwmaterialenOppervlakte":"Bouwmaterialen Oppervlakte","aardewerkDsType":"Aardewerk Ds Type","aardewerkEveRand":"Aardewerk Eve Rand","aardewerkHerkomst":"Aardewerk Herkomst","aardewerkOppBehandeling":"Aardewerk Opp Behandeling","aardewerkDecoratietechniek":"Aardewerk Decoratietechniek","aardewerkDecorgroepen":"Aardewerk Decorgroepen","aardewerkEveBodem":"Aardewerk Eve Bodem","glasDsType":"Glas Ds Type","glasKleur":"Glas Kleur","glasHerkomst":"Glas Herkomst","objectdeel":"Objectdeel","metaalGrootstelengteMm":"Metaal Grootstelengte Mm","metaalGrootstebreedteMm":"Metaal Grootstebreedte Mm","metaalGrootstedikteMm":"Metaal Grootstedikte Mm","rookpijpenModel":"Rookpijpen Model","rookpijpenKwaliteit":"Rookpijpen Kwaliteit","aardewerkMerk":"Aardewerk Merk","aardewerkObjectDiameterMm":"Aardewerk Object Diameter Mm","aardewerkObjectHoogteMm":"Aardewerk Object Hoogte Mm","bouwmaterialenKleur":"Bouwmaterialen Kleur","bouwmaterialenAfbeelding":"Bouwmaterialen Afbeelding","aardewerkFragmHoogteMm":"Aardewerk Fragm Hoogte Mm","rookpijpenSteelbehandeling":"Rookpijpen Steelbehandeling","rookpijpenProductiecentrum":"Rookpijpen Productiecentrum","rookpijpenZijmerkLinks":"Rookpijpen Zijmerk Links","rookpijpenOppervlaktebehandelingKop":"Rookpijpen Oppervlaktebehandeling Kop","rookpijpenKopopening":"Rookpijpen Kopopening","rookpijpenRadering":"Rookpijpen Radering","rookpijpenZijmerkRechts":"Rookpijpen Zijmerk Rechts","rookpijpenBijmerkRechts":"Rookpijpen Bijmerk Rechts","rookpijpenMerkOfHielmerk":"Rookpijpen Merk Of Hielmerk","rookpijpenPijpenmaker":"Rookpijpen Pijpenmaker","rookpijpenBijmerkLinks":"Rookpijpen Bijmerk Links","faunaSoort":"Fauna Soort","faunaLengteMm":"Fauna Lengte Mm","faunaBreedteMm":"Fauna Breedte Mm","glasEveRand":"Glas Eve Rand","glasEveBodem":"Glas Eve Bodem","glasObjectDiameterMm":"Glas Object Diameter Mm","glasObjectHoogteMm":"Glas Object Hoogte Mm","kunststofGrootstelengteMm":"Kunststof Grootstelengte Mm","kunststofGrootstebreedteMm":"Kunststof Grootstebreedte Mm","kunststofEigenaar":"Kunststof Eigenaar","kunststofEenheidWaarde":"Kunststof Eenheid Waarde","metaalProductiecentrum":"Metaal Productiecentrum","metaalDeelmaterialen":"Metaal Deelmaterialen","faunaElement":"Fauna Element","pastAanHoortBij":"Past Aan Hoort Bij","kunststofDiameterMm":"Kunststof Diameter Mm","plantSoort":"Plant Soort","houtGrootstelengteMm":"Hout Grootstelengte Mm","houtGrootstebreedteMm":"Hout Grootstebreedte Mm","houtGrootstedikteMm":"Hout Grootstedikte Mm","bouwmaterialenGrootstelengteMm":"Bouwmaterialen Grootstelengte Mm","bouwmaterialenGrootstebreedteMm":"Bouwmaterialen Grootstebreedte Mm","houtDiameterMm":"Hout Diameter Mm","plantGrootstelengteMm":"Plant Grootstelengte Mm","plantGrootstebreedteMm":"Plant Grootstebreedte Mm","plantGrootstedikteMm":"Plant Grootstedikte Mm","metaalDiameterMm":"Metaal Diameter Mm","glasFragmHoogteMm":"Glas Fragm Hoogte Mm","natuursteenSubsoort":"Natuursteen Subsoort","natuursteenGrootstelengteMm":"Natuursteen Grootstelengte Mm","natuursteenGrootstebreedteMm":"Natuursteen Grootstebreedte Mm","natuursteenGrootstedikteMm":"Natuursteen Grootstedikte Mm","natuursteenProductiesporen":"Natuursteen Productiesporen","leerDeelmaterialen":"Leer Deelmaterialen","leerLeersoort":"Leer Leersoort","natuursteenDiameterMm":"Natuursteen Diameter Mm","houtGrootstehoogteMm":"Hout Grootstehoogte Mm"},"maxLen":100,"maxList":3} %}

{# A minimal but real card; you can swap this with your full card template. #}
{% set pk        = attribute(hit, _config.primaryKey|default('id')) ?? (hit.id ?? null) %}
{% set titleKey  = _config.titleField|default('title') %}
{% set titleKey = 'object' %}
{% set descKey   = _config.descriptionField|default(null) %}
{% set imageKey  = _config.imageField|default(null) %}
{% set maxLen    = _config.maxLen|default(100) %}
{% set maxList   = _config.maxList|default(3) %}
{% set labels    = _config.labels|default({}) %}

{% set highlightedTitle = (hit._highlightResult is defined
    and attribute(hit._highlightResult, titleKey) is defined
    and attribute(attribute(hit._highlightResult, titleKey), 'value') is defined)
    ? attribute(attribute(hit._highlightResult, titleKey), 'value')
    : null
%}
{% set title = highlightedTitle ?? (attribute(hit, titleKey)|default(pk)) %}

{% set description = null %}
{% if descKey %}
    {% set highlightedDesc = (hit._highlightResult is defined
        and attribute(hit._highlightResult, descKey) is defined
        and attribute(attribute(hit._highlightResult, descKey), 'value') is defined)
        ? attribute(attribute(hit._highlightResult, descKey), 'value')
        : null
    %}
    {% set rawDesc = attribute(hit, descKey)|default(null) %}
    {% set description = highlightedDesc ?? rawDesc %}
{% endif %}

{% set imageUrl = imageKey ? (attribute(hit, imageKey)|default(null)) : null %}

<div class="card h-100 shadow-sm border-0">
    <div class="card-body p-3">
        <div class="d-flex gap-3 mb-2">
            {% if imageUrl %}
                <div style="flex:0 0 96px;">
                    <img
                        src="{{ imageUrl }}"
                        alt="{{ title|striptags }}"
                        class="img-fluid rounded"
                        loading="lazy"
                        decoding="async"
                        style="max-height:120px;object-fit:cover;"
                    >
                </div>
            {% endif %}

            <div class="flex-grow-1">
                <div class="d-flex justify-content-between gap-2 mb-1">
                    <h5 class="card-title mb-0 text-wrap" style="word-break:break-word;">
                        {{ title|raw }}
                    </h5>
                </div>

                {% if description %}
                    <p
                        class="text-body-secondary mb-0"
                        style="
                            display:-webkit-box;
                            -webkit-line-clamp:3;
                            -webkit-box-orient:vertical;
                            overflow:hidden;
                            text-overflow:ellipsis;
                        "
                    >
                        {{ description|raw }}
                    </p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="card-footer bg-transparent border-0 d-flex justify-content-between align-items-center flex-wrap gap-2">
{#        <div class="d-flex flex-wrap align-items-center gap-2 small text-body-secondary">#}
{#            {% if pk is not null %}#}
{#                <span>{{ _config.primaryKey }}: {{ pk }}</span>#}
{#            {% endif %}#}
{#        </div>#}
        {% set origCode = hit.vondstnummer %}
{#          https://belowthesurface.amsterdam/nl/vondst/NZD1.00620MTL039?index=1#}
        {% set citation = 'https://belowthesurface.amsterdam/nl/vondst/' ~ origCode %}
        <a href="{{ citation }}" target="_blank" class="card-link text-body-secondary">
            BTS
{#            {{ origCode }}#}
{#            {{ citation }}#}
        </a>


        <button
            {{ stimulus_action(globals._sc_modal, 'modal') }}
            data-hit-id="{{ hit.code }}"
            class="btn btn-sm btn-outline-primary d-inline-flex align-items-center gap-1"
        >
            {{ ux_icon('json')|raw }}
            {{ hit.code }}
            <span>Details</span>
        </button>
    </div>
</div>
