{% set official = hit %}
{% set name = hit.name %}

<div class="card h-100">
    <div class="card-header d-flex justify-content-between align-items-center">
        <span class="fw-bold">
            {{ hit['name.official_full'] }}
        </span>
        <span>
        {{ hit.house }}
        {{ hit.house=='rep' }}
        </span>

    </div>

    <div class="card-body">

        <b>
            ({{ hit['currentParty'] }} - {{ official.state }})
        </b>

        <div>
            {{ hit.wikiData.description|default('') }}
        </div>
        {% if official.imageCount %}
            <i>
                {{ official.imageCount }} Image(s)
            </i>
        {% endif %}

        {% if hit.originalImageUrl %}
            <img class="img-thumbnail" src="{{ hit.originalImageUrl }}"/>
        {% endif %}

        <ul>
            {% for code, imageData in hit.imageCodes %}
                {% for filter, size in imageData %}
                    {{ imageData|json_encode }}
                    {#            <div class="item"> #}
                    {#                <a href="{{ thumb }}" target="_blank"> #}
                    {#                    <img src="{{ thumb }}" title="{{ thumb }}" alt="{{ thumb }}" class="img-{{ filter }}" /> #}
                    {#                </a> #}
                    {#                <br />{{ filter }} {{ (size/1024)|number_format(1) }}kb #}
                    {#            </div> #}
                {% endfor %}
            {% endfor %}


        </ul>
    </div>
    <div class="card-footer clearfix xxd-flex float-end xjustify-content-end">
        <div class="float-start">
            {{ hit._highlightResult.type.value }}
            {{ hit.gender }}
            {{ hit.terms|length }} Term(s)

        </div>
        <span>
                    {% if hit._rankingScore != 1 %}
                        score: {{ hit._rankingScore|number_format(2) }}
                    {% endif %}
                </span>
        <button
            data-action="survos--meili-bundle--json#modal"
            data-hit-id="{{ hit.id }}"
            class="float-end btn btn-sm btn-outline-primary">
            <span class="me-1 icon-wrapper">{{ icons.json|raw }}</span>
        </button>
    </div>
</div>
